@charset "utf-8";

html {
  font-size: 100%;
  background-color: #f6f1eb;
  scroll-behavior: smooth;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 2;
  color: #3f3c3c;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  font-style: bold;
  /* padding: none; */
}

.page-header {
  height: 130px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 1%;
  padding: 0 2%;
}

.big-bg {
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.page-header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* header {
  padding: none;
} */

.logo {
  width: 210px;
}


/* NAVIGATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.main-nav {
  display: flex;
  font-size: 1.25rem;
  margin-top: 17px;
  list-style: none;
  width: 100%;
  height: 80%;
  line-height: 4;
  /* transform: translateX(110%); */
}

.main-nav li {
  margin-left: 50px;
}

.main-nav a {
  padding: 3px 10px;
  display: block;
  color: #3f3c3c;
  text-align: center;
}

.main-nav a:hover {
  color: rgb(255, 192, 69);
}

#open-close:checked~nav {
  transform: translateX(0%);
}


.article-title {
  font-size: 2rem;
  font-weight: bolder;
}

/* HAMBURGER ICON +++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* #ham-flex {
  width: 50px;
} */

#ham-flex input {
  display: none;
}

#ham-flex label {
  position: fixed;
  right: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: none;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

#open-close span,
span::before,
span::after {
  display: block;
  height: 3px;
  width: 25px;
  background-color: none;
  content: "";
  position: absolute;
  top: 3px;
}

#open-close span::before {
  top: 8px;
}

#open-close span::after {
  top: 16px;
}

/* checkedの時の3本線の動き */
#open-close:checked~.lines span {
  background-color: transparent;
}

#open-close:checked~.lines span::before {
  top: 0;
  transform: rotate(45deg);
}

#open-close:checked~.lines span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* -------- INDEX.html --------------------------------------------- */
#home {
  background-image: url(../images/iM_izushikawa.jpg);
  min-height: 90vh;
  /* min-height: 650px;
  margin-top: 120px;
  margin-bottom: 40px; */
}

.home-wording {
  width: 480px;
  margin: 0 auto;
  writing-mode: vertical-rl;
  vertical-align: middle;
  line-height: 57px;
}

.grid {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.menu_name {
  text-align: center;
}

/* https://coliss.com/articles/build-websites/operation/css/how-to-use-css-minmax.html */

/* -------- ENJOY.html -------------------------------------- */
.program {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: left;
}

.image {
  width: 50%;
  margin: 20px;
}

.contents {
  width: 40%;
  margin-left: 40px;
}

.contents p {
  margin-left: 0;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
}

.reserve a {
  display: block;
  background-color: rgb(255, 192, 69);
  border-color: rgb(255, 192, 69);
  border-radius: 40%;
  color: rgb(10, 145, 171);
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  /* vertical-align: middle; */
}

.button:hover {
  background: rgb(10, 145, 171);
  color: rgb(255, 192, 69);
}

/* -------- EAT ------------------------------------------------------- */
p.timer {
  font-weight: bold;
  margin-top: none;
  margin-left: 100px;
}

#day,
#hour,
#min,
#sec {
  font-size: 3rem;
  color: rgb(10, 145, 171);
}

#info h3 {
  margin-left: 100px;
}


/* -------- SIGHTSEEING ------------------------------------------------------- */
.slide {
  position: relative;
  margin: auto;
  border: 1px solid #3f3f3f;
  width: 720px;
  height: 700px;
  background-color: rgb(10, 145, 171);
}

img {
  max-width: 100%;
}

.main-img {
  width: 720px;
}

/* toolbarの設定 */
.toolbar {
  overflow: hidden;
  text-align: center;
}

.bar-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#prev {
  position: abosolute;
  margin-top: 25px;
  width: 30px;
  height: 20px;
  font-size: 14px;
}

#next {
  margin-top: 25px;
  width: 30px;
  height: 20px;
  font-size: 14px;
}

#page {
  margin-top: 25px;
  width: 40px;
  height: 20px;
  font-size: 14px;
}

#finder {
  width: 720px;
  height: 600px;
  overflow: hidden;
}

.img-box {
  display: flex;
  width: 2160px;
  height: 600px;
  margin-left: -720px;
  margin-right: 0px;
}

#caption-area {
  position: absolute;
  width: 100%;
  top: 605px;
  bottom: 650px;
  background-color: rgb(10, 145, 171);
  color: #3f3f3f;
  padding: 5px;
  bottom: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}

/* -------- ACCESS.html ---------------------------------------------------------- */
#access {
  background-image: url(../images/aM_landscape.jpg);
  min-height: 80vh;
  margin-bottom: 20px;
}

.location-info dt {
  border-bottom: 1px solid rgb(10, 145, 171);
  margin-bottom: none;
}

.location-info dd {
  margin-left: 0;
  padding-left: 40px;
  margin-bottom: 25px;
}

.location-info h2 {
  margin-top: 35px;
}

.location-info dt>span {
  font-size: 30px;
  font-weight: bold;
}

.taxi {
  color: rgb(10, 145, 171);
}

/* -------- RESERVATION -------------------------------------------- */

table {
  margin-bottom: 50px;
}

table,
th,
td {
  border: none;
}

th {
  background-color: rgb(255, 192, 69);
  font-weight: 500;
  /* color: #3f3c3c; */
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"] {
  width: 99%;
  /* color: #3f3c3c; */
}

textarea {
  width: 99%;
  height: 5rem;
  resize: none;
  vertical-align: middle;
  /* margin-bottom: 10px; */
}

input[type="submit"],
input[type="reset"] {
  background-color: rgb(255, 192, 69);
  color: rgb(10, 145, 171);
  border-color: rgb(255, 192, 69);
  font-size: 20px;
  font-weight: 900;
}

input[type="submit"] a:hover,
input[type="reset"] a:hover {
  background-color: #f6f1eb;
}


/* ----------- UNDER CONSTRUCTION --------------------------------------- */
.under-cons {
  background-image: url(../images/under-construction.jpg);
  min-height: 100vh;
  margin-bottom: 10px;
}

.under-cons p {
  font-size: 1.5rem;
  font-weight: 200;
  color: rgb(255, 192, 69);
}

/* ************************** FOOTER *********************************** */
footer {
  background-color: rgb(255, 192, 69);
  text-align: center;
  padding: 15px 0;
}

footer p {
  color: #3f3c3c;
  font-size: 0.8rem;
}


/* ************************** GO TOP *********************************** */
#gotop a {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  color: rgb(255, 192, 69);
  background-color: rgb(10, 145, 171);
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  line-height: 50px;
}

/* ========================== RESPONSIVE DESIGN スマホで見る場合=== */
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  .main-nav {
    display: flex;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 10px;
  }

  .program {
    flex-direction: column;
  }


  /* form area 1 column 表示*/
  form th,
  form td {
    display: block
  }

  /* EAT */
  p.timer {
    font-weight: bold;
    margin-top: none;
    margin-left: 30px;
  }

  #info h3 {
    margin-left: 30px;
  }




}